* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.grid {
    position: absolute;
    width: 570px;
    height: 300px;
    border: 2px solid black;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}